* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
}

.open-btn {
  display: flex;
  flex-flow: row-reverse;
}

.open-button {
  background-color: #1c87c9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1; /* Ajusté l'opacité */
  position: fixed;
}

button{
    justify-content: center;
}
.login-popup {
  position: relative;
  text-align: center;
  width: 100%;
  background-color: white;
}

.form-popup {
  display: none;
  position: fixed;
  left: 50%; /* Centré horizontalement */
  top: 50px; /* Ajouté un décalage vers le bas */
  transform: translateX(-50%);
  border: 2px solid #666;
  padding: 10px;
  background-color: white;
}

.form-container {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0; /* Ajusté la marge inférieure */
  border: none;
  background: #eee;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #8ebf42;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 1;
}

.form-container .cancel {
  background-color: #cc0000;
}

.form-container .btn:hover {
  opacity: 0.8; /* Ajusté l'opacité au survol */
}

.open-button:hover {
  opacity: 0.8; /* Ajusté l'opacité au survol */
}
