<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Page de connexion</title>

  <script src="../static/home_dy.js"></script>
  <link rel="stylesheet" href="../static/home_style.css">

  <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<nav class="nav-extended" >
  <div class="nav-wrapper">
    <span class="nav-title">Title</span>
    <ul class="right hide-on-med-and-down">
      <div class="open-btn">
        <button type="button"  class="waves-effect waves-light btn-large" onclick="openForm()"><i class="material-icons">account_circle</i></button>
      </div>
    </ul>
  </div>
</nav>
<nav>
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>




<div class="login-popup">
  <div class="form-popup" id="popupForm">
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
      <h3>Veuillez vous connecter</h3>
      <label for="name">
        <strong>Nom</strong>
      </label>
      <input type="text" th:field="*{name}" id="name" placeholder="Votre Nom" required />
      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
      <label for="password">
        <strong>Mot de passe</strong>
      </label>
      <input type="password" th:field="*{password}" id="password" placeholder="Votre Mot de passe" required />
      <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
      <button type="submit" class="btn">Connecter</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Fermer</button>
    </form>

  </div>
</div>


</body>
</html>