<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../static/home_dy.js"></script>

    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
<table class="striped">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>temperature</th>
        <th>windSpeed</th>
        <th>humidity</th>
    </tr>
    </thead>

    <tbody id="table-body">
    </tbody>
</table>
</body>
</html>